*
{
    font-family: 'Raleway', sans-serif;
}

body
{
    background: black;
}

/*************** Header ******************/

header
{
    width: 100%;
    background: black;
}

.container
{
    max-width: 1400px;
    margin: 0 auto;
}

.secondContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin-left: 30px;
}

.logo span
{
    font-weight: bold;
    color: rgb(140, 115, 163);
}

.main__list
{
    list-style: none;
    padding: 10px;
    margin-right: 30px;
}

.main__list-bullets
{
    display: inline-block;
    margin-left: 30px;

    position: relative;
}

.main__link
{

    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 40px 0;
}

.small__list::before
{
    content: '';
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 90px;

    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: black;
    border-right-color: transparent;
    border-left-color: transparent;
}

.small__list
{
    position: absolute;
    left: -50px;
    right: -50px;
    padding: 20px;
    display: none;
}

.main__list-bullets:hover > .small__list
{
    display: block;
}

.small__list-bullets
{
    background: black;
    display: block;
    padding: 10px;
}

.small__link
{
    color: white;
    text-decoration: none;
}

/****************** Section 1 ********************/

section .container
{
    display: flex;
    height: 500px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,230,230,1) 85%);
}

.background__chair img
{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background__text
{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.background__text h1
{
    font-weight: bold;
    font-size: 2.5vw;
    color: black;
    text-transform: uppercase;
}

.background__text span
{
    font-weight: bold;
    font-size: 2.5vw;
    color: rgb(140, 115, 163);
}

.background__text h2
{
    text-align: center;
    font-size: 1.3vw;
}

.arrow
{
    font-size: 80px;
    font-weight: bold;
    margin: 0 40px 0 40px;
    text-shadow: 1px 1px 0.1em black;
    transition-duration: 0.3s;
}

.arrow a
{
    text-decoration: none;
    color: rgb(140, 115, 163);
}

.arrow:hover
{
    text-shadow: 2px 2px 0.5em black;
}

.button_sec1
{
    font-size: 1.5vw;
    text-shadow: 1px 1px 0.3em #4C4156;
    color: white;
    background-color: rgb(140, 115, 163);
    border: none;
    border-radius: 10px;

    padding: 10px 10px;
    transition-duration: 0.2s;
}

.button_sec1:hover
{
    box-shadow: 6px 6px 0.7em rgb(140, 115, 163);
    background-color: white;
    color: rgb(140, 115, 163);
    font-weight: bold;
    text-shadow: 1px 1px 0.3em #4C4156;
}

/***************** Section 2 ********************/

section .advert
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:300px;
    background: white;
}

.advert__box
{
    position: relative;
    width: 30%;
    height: 100%;
    padding: 20px 10px 20px 10px;
}

.advert__box img
{
    height: 100%;
    width: 100%;
}

.advert__link
{
    width: 100%;
    position: relative;
    top: -35%;
    line-height: 70px;

    background: rgba(236, 240, 241, 0.5);
}

.advert__link a
{
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-bottom: 7px solid rgb(140, 115, 163);
}

.advert__description
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgba(189, 195, 199, 0.5);
    height: 100%;
    padding: 20px;
    text-align: justify;
}

.advert__description span
{
    font-size: 1.5vw;
    font-weight: bold;
    border-bottom: 7px solid rgb(140, 115, 163);
}

.advert__description p
{
    font-size: 1vw;
}

/******************** Section 3 *********************/

section .offer
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
    background:white;
}

.offer__header span
{
    font-size: 1.5vw;
    font-weight: bold;
    border-bottom: 7px solid rgb(140, 115, 163);
    margin-left: 40px;
}

.offer__container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.offer__box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 28%;
    height: 90%;
}

.odd
{

    border: 2px solid rgba(189, 195, 199, 0.8);
    border-radius: 5%;
}

.even
{
    color: white;
    border: 2px solid rgb(140, 115, 163);
    border-radius: 5%;
    background:rgb(140, 115, 163);
}

.offer__box::before
{
    content: '';
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.odd::before
{
    border: 2px solid rgba(189, 195, 199, 0.8);
    background: white;
}


.even::before
{
    border: 2px solid white;
    background: rgb(140, 115, 163);
}

.offer__box::after
{
    content: '';
    position: absolute;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.odd::after
{
    border: 1px solid rgba(189, 195, 199, 0.8);
    background: rgba(189, 195, 199, 1);
}

.even::after
{
    border: 1px solid white;
    background: white;
}

.offer__plan
{
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.offer__price
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.first
{
    border: 2px solid rgba(189, 195, 199, 0.8);
    color: rgb(140, 115, 163);

    font-size: 0.6vw;
    text-transform: uppercase;
}

.second
{
    border: 2px solid white;
    background-color: white;

    font-size: 0.6vw;
    text-transform: uppercase;
    color: rgb(140, 115, 163);

}

.offer__num
{
    font-size: 3.5vw;
    font-weight: bold;
}

sup
{
    vertical-align: super;
    font-size: 0.8vw;
    font-weight: bold;
}

.offer__service
{
    width: 100%;
    height: 100px;

    font-size: 1.5vw;
    line-height: 35px;
    text-align: center;
}

.offer__lines-odd
{
    background: rgba(140, 115, 163, 0.4);
}

.offer__lines-even
{
    background: rgba(255, 255, 255, 0.4);
}

.button_sec3
{
    font-size: 1vw;
    text-shadow: 1px 1px 0.3em #4C4156;
    color: white;
    background-color: rgb(140, 115, 163);
    border: none;
    border-radius: 10px;

    padding: 10px 10px;
    transition-duration: 0.2s;
}

.button_sec3:hover
{
    box-shadow: 6px 6px 0.7em rgb(140, 115, 163);
    background-color: rgba(140, 115, 163, 0.3);
    color: rgb(140, 115, 163);
    font-weight: bold;
    text-shadow: 1px 1px 0.3em #4C4156;
}

.button_sec3-1
{
    font-size: 1vw;
    text-shadow: 1px 1px 0.3em #4C4156;
    color: rgb(140, 115, 163);
    background-color: white;
    border: none;
    border-radius: 10px;

    padding: 10px 10px;
    transition-duration: 0.2s;
}

.button_sec3-1:hover
{
    box-shadow: 6px 6px 0.7em rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0.3em #4C4156;
}

/*********** Section 4 ************/

section .form
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    background:white;
}

.form__header
{
    height: 20%;
    margin-left: 40px;
}

.form__header span
{
    font-size: 1.5vw;
    font-weight: bold;
    border-bottom: 7px solid rgb(140, 115, 163);
}

.form__container
{
    height: 80%;
    margin-left: 40px;
    margin-right: 40px;
}

.form__container form
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__inputs1,
.form__inputs2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__inputs1
{
    width: 60%;
    height: 300px;
}

.form__inputs1 input, textarea
{
    font-size: 1.5vw;
    border: 1px solid rgba(140, 115, 163, 0.4);
    width: 100%;
    resize: none;
}

.form__inputs1 input::placeholder,
textarea::placeholder
{
    color: rgba(140, 115, 163, 0.3);
}

.form__inputs2
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__inputs2 img
{
    object-fit: contain;
}

.agreement
{
    font-size: 1vw;
}

input[type="checkbox"]
{
    float: left;
    margin: 4px 5px;
}

.button_sec4
{
    font-size: 1.5vw;
    text-shadow: 1px 1px 0.3em #4C4156;
    color: white;
    background-color: rgb(140, 115, 163);
    border: none;
    border-radius: 10px;

    width: 200px;
    padding: 10px 10px;
    transition-duration: 0.2s;
}

.button_sec4:hover
{
    box-shadow: 6px 6px 0.7em rgb(140, 115, 163);
    background-color: rgba(140, 115, 163, 0.3);
    color: rgb(140, 115, 163);
    font-weight: bold;
    text-shadow: 1px 1px 0.3em #4C4156;
}

/************* Footer **************/

.footer
{
    width: 100%;
    height: 50px;
    background: white;
}

.footer__container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.copyrights
{
   font-size: 0.7vw;
    color: rgba(140, 115, 163, 0.5);
}

.logo1
{
    color: black;
}
