*
{
    font-family: 'Raleway', sans-serif;
}

body
{
    background: black;
}

/* Header */

header
{
    width: 100%;
    background: black;
}

.container
{
    max-width: 1400px;
    margin: 0 auto;
}

.secondContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin-left: 30px;
}

.logo span
{
    font-weight: bold;
    color: rgb(140, 115, 163);
}

.main__list
{
    list-style: none;
    padding: 10px;
    margin-right: 30px;
}

.main__list-bullets
{
    display: inline-block;
    margin-left: 30px;

    position: relative;
}

.main__link
{

    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 40px 0;
}

.small__list::before
{
    content: '';
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 90px;

    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: black;
    border-right-color: transparent;
    border-left-color: transparent;
}

.small__list
{
    position: absolute;
    left: -50px;
    right: -50px;
    padding: 20px;
    display: none;
}

.main__list-bullets:hover > .small__list
{
    display: block;
}

.small__list-bullets
{
    background: black;
    display: block;
    padding: 10px;
}

.small__link
{
    color: white;
    text-decoration: none;
}

/* Section 1 */

section .container
{
    display: flex;
    height: 500px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,230,230,1) 85%);
}

.background__chair img
{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background__text
{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.background__text h1
{
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
}

.background__text span
{
    font-weight: bold;
    font-size: 40px;
    color: rgb(140, 115, 163);
}

.background__text h2
{
    text-align: center;
    font-size: 20px;
}

.arrow
{
    font-size: 80px;
    font-weight: bold;
    margin: 0 40px 0 40px;
    text-shadow: 1px 1px 0.1em black;
    transition-duration: 0.3s;
}

.arrow a
{
    text-decoration: none;
    color: rgb(140, 115, 163);
}

.arrow:hover
{
    text-shadow: 2px 2px 0.5em black;
}

.button_sec1
{
    font-size: 25px;
    color: white;
    background-color: rgb(140, 115, 163);
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    transition-duration: 0.2s;
}

.button_sec1:hover
{
    box-shadow: 6px 6px 0.7em rgb(140, 115, 163);
    background-color: white;
    color: rgb(140, 115, 163);
}
